.cldashbd {
  position: relative;
  top: 150px;
  background-color: var(--clbasebgcolor);
  border-radius: 15px;
  height: 100%;
  margin: auto;
  width: 1000px;
  animation: fadeIn 1s forwards;
  padding: 17px 25px;
}

.clntcdashbdiimg {
  width: 200px;
  height: 200px;
}

.cldashbdbody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cldashbdbody h2 {
  color: white;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 1035px) {
  .cldashbd {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .clntcdashbdiimg {
    width: 100px;
    height: 100px;
  }
  .cldashbdbody a {
    font-size: 1em;
  }
}
