.clfpassform {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.clfpassform form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--cltextcolor);
}

.clfpassform form {
  display: flex;
  flex-direction: column;
}

.clfpassform form button {
  padding: 10px;
  margin: 20px 0;
  background-color: var(--clactivecolor);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clfpassform form button:hover {
  background-color: var(--clhovercolor);
}

.clfpassform .message {
  margin: 20px 0;
  padding: 10px;
  background-color: var(--clactivecolor);
  border-left: 5px solid var(--clhovercolor);
  color: white;
  border-radius: 5px;
}

.clfpasswloginbtn {
  padding: 10px;
  margin: 20px auto;
  background-color: var(--clactivecolor);
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.clfpasswloginbtn:hover {
  background-color: var(--clhovercolor);
}
