.cllink {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: calc(1em + 0.1rem);
  padding: 15px 48px;
  margin: 20px auto;
  background-image: linear-gradient(to top right, #8514e9, #a51cf5, #984ed8);
  border-radius: 30px;
  border: none;
  transition: 0.5s;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cllink:hover{
  background-image: linear-gradient(to top right, #7a00e6, #a200ff, #a348f3);
  transition: 0.5s;
}