.loginpagedots {
  position: absolute;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.logpagesquares {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  max-height: 999px;
}

.logpagesquares .bigsq1 {
  background: linear-gradient(195deg, #440b79, #481e6d);
  box-shadow: #17012b 0rem 0.25rem 1.25rem 0rem,
    #340164 0rem 0.4375rem 0.625rem -0.3125rem;
  animation: transform-right 4s infinite;
  height: 300px;
  width: 300px;
  opacity: 0.5;
  left: 3%;
  top: -21%;
}

.logpagesquares .bigsq2 {
  width: 400px;
  background: linear-gradient(195deg, #3c076d, #500691);
  box-shadow: #17012b 0rem 0.25rem 1.25rem 0rem,
    #340164 0rem 0.4375rem 0.625rem -0.3125rem;
  height: 400px;
  opacity: 0.5;
  right: -3%;
  top: -10%;
  animation: transform-right 6s infinite;
}

.logpagesquares .smallsq1 {
  animation: transform-right 5s infinite;
  background: linear-gradient(195deg, #8f2aee, #500691);
  box-shadow: #17012b 0rem 0.25rem 1.25rem 0rem,
    #340164 0rem 0.4375rem 0.625rem -0.3125rem;
  height: 200px;
  width: 200px;
  opacity: 0.1;
  left: -5%;
  bottom: 0;
}

.logpagesquares .smallsq2 {
  background: linear-gradient(195deg, #541d88, #2f0653);
  box-shadow: #17012b 0rem 0.25rem 1.25rem 0rem,
    #340164 0rem 0.4375rem 0.625rem -0.3125rem;
  animation: transform-right 10s infinite;
  height: 100px;
  width: 100px;
  opacity: 0.9;
  right: 27%;
  top: 70%;
}

.logpagesquares .smallsq3 {
  background: linear-gradient(195deg, #351157, #4d068b);
  box-shadow: #6e0cca 0rem 0.25rem 1.25rem 0rem,
    #6507bd 0rem 0.4375rem 0.625rem -0.3125rem;
  animation: transform-right 4s infinite;
  animation-delay: 0.7s;
  height: 290px;
  width: 290px;
  opacity: 0.1;
  left: 36%;
  bottom: 60%;
}

.logpagesquares .mediumsq1 {
  background: linear-gradient(195deg, #351157, #3e086d);
  box-shadow: #6e0cca 0rem 0.25rem 1.25rem 0rem,
    #6507bd 0rem 0.4375rem 0.625rem -0.3125rem;
  animation: transform-right 6s infinite;
  height: 250px;
  width: 250px;
  opacity: 0.1;
  left: 32%;
  bottom: 29%;
}

.logpagesquares .mediumsq2 {
  background: linear-gradient(195deg, var(--clbasebgcolor), #6f1ab9);
  box-shadow: #6e0cca 0rem 0.25rem 1.25rem 0rem,
    #621ca3 0rem 0.4375rem 0.625rem -0.3125rem;
  animation: transform-right 9s infinite;
  left: 70%;
  top: 35%;
  height: 380px;
  width: 380px;
  opacity: 0.8;
}

.logpagesquares .mediumsq3 {
  background: linear-gradient(195deg, #7d32c4, #500394);
  box-shadow: #7738b3 0rem 0.25rem 1.25rem 0rem,
    #1d1722 0rem 0.4375rem 0.625rem -0.3125rem;
  animation: transform-right 7s infinite;
  width: 300px;
  height: 300px;
  right: -5%;
  bottom: 0;
  opacity: 0.1;
}

@keyframes transform-right {
  0% {
    transform: rotateX(0deg);
  }
  20% {
    transform: rotateX(20.05deg);
  }
  40% {
    transform: rotateX(40.05deg);
  }
  60% {
    transform: rotateX(50.05deg);
  }
  80% {
    transform: rotateX(30.05deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.clloginform {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 15px;
  min-width: 100%;
  max-width: 880px;
  animation: fade-in 0.6s forwards;
  animation-delay: 0.01s;
}

.clloginform form {
  display: flex;
  background-color: var(--clbasebgcolor);
  width: 500px;
  position: relative;
  left: 30%;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
}

.clloginform form .cllogheadtext {
  width: 80%;
  border-top-left-radius: 15px;
  margin-bottom: 40px;
  padding: 30px 20px;
  background-image: linear-gradient(to bottom left, #320658, #a51cf5, #510097);
  border-bottom-right-radius: 70px;
}

.clloginform form .cllogheadtext h1 {
  background: linear-gradient(to bottom left, #dfccf0, var(--cltextcolor));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(1em + 4rem);
  font-weight: 600;
}

.cllogform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.clloginform form .cllogemaildiv,
.clloginform form .cllogpasswdiv {
  align-self: center;
  margin: 10px 0px;
  padding: 0px 20px;
  display: flex;
  width: 100%;
}

.cllogpasswdiv .cltextinput,
.cllogemaildiv .cltextinput {
  padding-left: 60px;
  z-index: 1000;
}

.clloginform form .cllogicondiv {
  padding: 18px 18px 9px 0px;
  background-color: #2f0653;
  position: absolute;
  border-right: 1px solid var(--clactivecolor);
}

.clloginform form .cllogpassicondiv {
  position: absolute;
  right: 0;
}

.clloginform form .cllogpassicon {
  color: #bbbbbb;
  position: relative;
  cursor: pointer;
  left: -50px;
  top: 15px;
}

.clloginform form .cllogicon {
  font-size: 1.5rem;
  z-index: 2000;
  position: relative;
  top: -6px;
  left: 10px;
  color: #f3f1f1;
}

.clloginform form .clloginbtn {
  padding: 15px 48px;
  margin: 30px 0px;
  border-radius: 30px;
  background-image: linear-gradient(to top right, #8514e9, #a51cf5, #984ed8);
  border: none;
  font-size: 1.3rem;
  color: white;
  transition: 0.5s;
  font-weight: 600;
}

.clloginform form .clloginbtn:hover {
  background-image: linear-gradient(to top left, #a146f1, #a303ff, #984ed8);
  transition: 0.5s;
}

.cllognot {
  color: white;
  margin: 30px 0px;
  font-size: 1.2rem;
  font-weight: 500;
}

.cllognot a {
  color: white;
  transition: 0.5s;
  font-weight: 600;
}

.cllognot a:hover {
  color: var(--cltextcolor);
  transition: 0.5s;
}
@media (max-width: 800px) {
  .clloginform form {
    width: 100%;
    left: 0px;
    top: 30px;
  }
  .clloginform form .cllogheadtext h1 {
    font-size: 2.5rem;
  }
  .clloginform form .cllogicon {
    font-size: 1.3rem;
  }
}
