.clnavbarcon {
  position: absolute;
  top: 30px;
  transition: 0.5s;
  width: 100%;
  z-index: 9000;
  color: white;
}

.clnavbarcon-scroll {
  position: fixed;
  background-color: var(--clbgcolor);
  padding: 20px 0px;
  transition: 0.5s;
  width: 100%;
  z-index: 9000;
  color: white;
}

.clnavbarlogoimg {
  width: 90px;
  object-fit: cover;
  cursor: pointer;
}

.clnavbar {
  width: 70%;
  margin-left: auto;
  height: 90px;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clnavbarlinks,
.clnavbarsocials,
.clnavbarother {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarsocial {
  text-decoration: none;
  color: white;
}

.clnavbarsocialIcon {
  font-size: 1.7rem;
  color: rgb(223, 223, 223);
  transition: 0.2s;
  margin-right: 16px;
}

.clnavbarsocialIcon:hover {
  color: #d084fc;
  transition: 0.2s;
}

.navbarother {
  background-image: linear-gradient(to bottom right, #320658, #a51cf5, #510097);
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  line-height: 20px;
  box-shadow: none;
  border-radius: 0.4285rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  padding: 0.88rem 1rem;
}

.navbarother:hover {
  background-image: linear-gradient(to bottom left, #320658, #a51cf5, #510097);
  transition: 0.5s ease-in-out;
}

.clnavbarregis {
  background-image: linear-gradient(to bottom left, #750ecf, #ba54f5, #9c34f7);
  transition: all 0.15s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  line-height: 20px;
  box-shadow: none;
  border-radius: 0.4285rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  padding: 0.8rem 1rem;
}

.clnavbarlogin {
  background-image: linear-gradient(to top left, #170427, #250338, #8903ff);
  transition: all 0.15s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin-left: 30px;
  line-height: 20px;
  box-shadow: none;
  border-radius: 0.4285rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  padding: 0.8rem 1rem;
}

.clnavbarregis:hover,
.clnavbarlogin:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
}

.clnavbaricon {
  font-size: 1.6rem;
  transition: 0.5s;
  margin-right: 12px;
}

.clnavbarhbmenu {
  font-size: 2rem;
  cursor: pointer;
  display: none;
  visibility: hidden;
}

.clmbnavbar {
  border-radius: 20px;
  position: relative;
  display: none;
  top: -50px;
  padding: 10px 15px;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  background-color: #32005e;
  width: 90%;
  animation: zoom-in-with-opacity 1s forwards;
}

.clmbnavbarhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clmbnavbarcancel {
  font-size: 2rem;
  cursor: pointer;
}

.clmbnavbarsocials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.clmbnavbarsocials a,
.claccount {
  transition: 0.3s;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.claccount {
  margin-top: 20px;
}

.clmbnavbarsocials a:hover {
  color: #d084fc;
  transition: 0.3s;
}

.clmbnavbarsocials a .clmbnavbarsocialIcon,
.claccicon {
  transition: 0.3s;
  font-size: 1.7rem;
  margin-right: 12px;
  color: inherit;
}

.claccount {
  display: inline;
  cursor: pointer;
}

.claccount:hover .claccdownicon {
  transition: 0.3s;
  color: var(--clbuttoncolor);
}

.claccdownicon {
  transition: 0.3s;
  margin-left: 9px;
}

.clmbnavbarsocials a:hover .clmbnavbarsocialIcon {
  transition: 0.3s;
  color: inherit;
  font-weight: 500;
}

.clmbnbmenu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.clmbnbmenu .clmbnblink {
  text-decoration: none;
  display: inline-flex;
  border-radius: 9px;
  align-items: center;
  width: 100%;
  background-color: transparent;
  color: white;
  margin-top: 10px;
  padding: 10px 15px;
}
.clmbnbmenu .clmbnblink:hover {
  background-color: var(--clbuttoncolor);
  transition: 0.7s;
}

.clmbnbmenu .clmbnblink .clmbnbiconli {
  transition: 0.3s;
  font-size: 1.6rem;
  margin-right: 12px;
  color: #ddd;
}

.clnavbarreq {
  background-image: linear-gradient(to bottom left, #750ecf, #ba54f5, #9c34f7);
  transition: 0.15s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  line-height: 20px;
  box-shadow: none;
  border-radius: 0.7rem;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  padding: 0.8rem 1.3rem;
}

.clnavbarreq:hover {
  background-image: linear-gradient(to bottom left, #650eb1, #ac49e6, #9012ff);
  transition: 0.15s ease;
}

.clnavbarreq:hover .clnavbaricon {
  color: var(--cltextcolor);
  transition: 0.5s;
}

.clmbnavbarreq .clmbnavbaricon {
  transition: 0.3s;
  font-size: 1.4rem;
  margin-right: 12px;
  color: #ddd;
}

.clmbnavbarreq {
  text-decoration: none;
  display: inline-flex;
  border-radius: 9px;
  align-items: center;
  font-weight: 600;
  width: 100%;
  transition: 0.5s;
  background-color: transparent;
  color: white;
  margin-top: 10px;
  padding: 10px 15px;
}

.clmbnavbarreq:hover {
  background-color: var(--clbuttoncolor);
  transition: 0.5s;
}

.clusernav {
  position: absolute;
  top: 150px;
  background-color: transparent;
  right: 0;
  transition: background-color 0.5s;
  width: 100%;
}

.clusernav-scroll {
  position: fixed;
  background-color: var(--clbgcolor);
  padding: 20px 0px;
  z-index: 10000;
  width: 100%;
  transition: background-color 0.5s;
}

.clusernavlinks {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 2px solid var(--clbasebgcolor);
  border-radius: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clusernavlink {
  padding: 15px;
  border-radius: 90px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  transition: 0.7s;
  font-weight: 600;
  align-items: center;
}

.clusernavlink:hover {
  background: linear-gradient(
    to top right,
    var(--clbgcolor),
    var(--clbgcolor),
    var(--clhovercolor)
  );
  transition: 0.7s;
}

.clusernavlink .clusernavicon {
  font-size: 1.3rem;
  transition: 0.7s;
  margin-right: 10px;
}

.clusernavlink:hover .clusernavicon {
  color: var(--cltextcolor);
  transition: 0.7s;
}

@media (max-width: 1320px) {
  .clnavbarcon {
    position: fixed;
    top: 0px;
    padding: 20px 0px;
    background-color: var(--clbgcolor);
  }
  .clnavbar {
    height: 50px;
  }
  .clusernav,
  .clusernav-scroll {
    display: none;
  }
  .clmbnavbar {
    display: block;
  }
  .clnavbarhbmenu {
    display: block;
    visibility: visible;
  }
  .clnavbarlinks,
  .clnavbarsocials,
  .clnavbarother,
  .clnavbarreq {
    display: none;
  }
  .clnavbarlogoimg {
    width: 60px;
  }
}

@keyframes zoom-in-with-opacity {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
