.clloader {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clspinner {
  width: 72px;
  height: 72px;
  border: 14.4px var(--cltextcolor) double;
  border-left-style: solid;
  border-radius: 50%;
  animation: spinner-aib1d7 0.75s infinite linear;
}

@keyframes spinner-aib1d7 {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px) {
  .clspinner {
    width: 40px;
    height: 40px;
    border: 9.5px var(--cltextcolor) double;
    border-left-style: solid;
    border-radius: 50%;
    animation: spinner-aib1d7 0.75s infinite linear;
  }
}
