.adhorderstb {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  overflow-x: auto;
  border-radius: 10px;
  background-color: var(--clbasebgcolor);
}

.adhorderstb table {
  width: 100%;
}

.adhorderstb th,
.adhorderstb td {
  color: white;
  padding: 15px;
}

.adhorderstb tbody tr {
  border-top: 1px solid var(--clactivecolor);
}
