/* Unique styles for the admin login page */
.adalogin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, var(--clbasebgcolor), var(--clbgcolor));
  font-family: Arial, sans-serif;
}

.adalogin-box {
  background: var(--clactivecolor);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.adalogin-box h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.adainput-group {
  margin-bottom: 20px;
  text-align: left;
}

.adainput-group label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.adainput-group input {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  outline: 1px solid var(--clbasebgcolor);
}

.adalogin-button {
  width: 100%;
  padding: 10px;
  background: var(--clbasebgcolor);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.adalogin-button:hover {
  background: var(--clhovercolor);
  transition: 0.3s;
}
