.advpnavbar {
  padding: 20px;
  width: 80%;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.advpnavlogo {
  width: 90px;
  object-fit: cover;
  cursor: pointer;
}

.advplinks {
  display: flex;
  align-items: center;
  width: 40%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advpnavbar .advplinks a {
  color: white;
  margin: 10px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  background-color: var(--clbasebgcolor);
}
