.adfpanelstb {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  overflow-x: auto;
  border-radius: 10px;
  background-color: var(--clbasebgcolor);
}

.adfpanelstb table {
  width: 100%;
}

.adfpanelstb th,
.adfpanelstb td {
  color: white;
  padding: 15px;
}

.advpminwidth190 {
  min-width: 190px;
}

.adfpanelstb tbody tr {
  border-top: 1px solid var(--clactivecolor);
}
